<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='style_admin.css') }}">

    <title>LocalBazaar</title>
</head>

<body>
    <section id="sidebar">
      <a href="#" class="brand">
        <i class="bx bxs-smile"></i>
        <span class="text">LocalBazaar</span>
      </a>
      <ul class="side-menu top">
        <li>
          <a href="{{url_for('admin')}}">
            <i class="bx bxs-dashboard"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="{{url_for('add_stock')}}">
            <i class="bx bx-plus" aria-hidden="true"></i>
            <span class="text">Add Stock</span>
          </a>
        </li>
        <li>
          <a href="{{url_for('view_stock')}}">
            <i class="bx bxs-smile" aria-hidden="true"></i>
            <span class="text">View Stock</span>
          </a>
        </li>
        <li class="active">
          <a href="{{url_for('update_stock')}}">
            <i class="bx bx-pencil" aria-hidden="true"></i>
            <span class="text">Update Stock</span>
          </a>
        </li>
        <li>
          <a href="{{url_for('notifications')}}">
            <i class="bx bx-bell" aria-hidden="true"></i>
            <span class="text">Notifications</span>
          </a>
        </li>
      </ul>
    </section>
    <section id="content">
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="#">Update Stock</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>User Details</h3>
                        <i class='bx bx-search'></i>
                        <i class='bx bx-filter'></i>
                    </div>
                    <form action="#" method="post">
                    <button class="btn-primary" type='submit'>Save Changes</button>
                    <table>
                        <thead>
                            <tr>
                                <th>Product ID</th>
                                <th>Product Name</th>
                                <th>Product Price</th>
                                <th>Product Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products_list %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.price }}</td>
                                <td><input type='text' name='{{ product.id }}' value='{{ product.stock }}'></input>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </form>
                </div>

            </div>
        </main>
    </section>
    <script src="/static/index_admin.js"></script>
</body>
</html>
