<!DOCTYPE html>
<html>
    <header>
        <title>Velociraptor Bussiness Solutions - Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style_home.css') }}">
        <div id="divHeadingContainer">
            <p id="hHeading">VELOCIRAPTORS</p>
        </div>
        <nav id="navLinks">
            <!-- nav buttons-->
            <a id="aFormLink" class = "navlink" href="{{ url_for("form") }}">Sign Up</a>
            <a id="aAboutLink" class = "navlink" href="{{ url_for("about") }}">About us</a>
        </nav>
    </header>
    <body>
        <div id="divContentContainer">
            <div id="divInfoContainer">
                <h1 id="hParagraphHeader">The Velociraptors</h1>
                <p id="pDescription">Are you looking to take your business skills to the next level and join the elite ranks of the velociraptors?
                These powerful, intelligent dinosaurs were some of the most successful hunters of the Late Cretaceous period, 
                and their skills can be applied to the modern business world. Imagine being able to run circles around your 
                competition, using your agility and speed to close deals before they even know what hit them. With your sharp claws, 
                you'll be able to grasp opportunities and hold onto them tightly. The keen senses of the velociraptor will allow you 
                to spot trends and opportunities before they become mainstream. And with the intelligence and problem-solving skills 
                of a velociraptor, you'll be able to adapt to any situation and come out on top. Furthermore, as a pack hunter, 
                you'll be able to work in a team to bring down larger and more complex projects and businesses. 
                Join the pack of business-savvy velociraptors today and dominate the corporate world.</p>
                <a id"aFormInlineLink" class="navlink" href="{{ url_for('form') }}">Join us now!</a>
            </div>
            <img id="imgVelociraptors" class="navlink" src="{{ url_for('static',filename='res/DALLE 2023-01-17.png') }}">
        </div>
    </body>
</html>

