
html {
    background: linear-gradient(225deg,DarkSlateBlue ,rgb(40,10,75) ,RebeccaPurple );
    /* background: rgb(22, 22, 30); */
    background-attachment: fixed;
    color: white;
}
header{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    background: linear-gradient(to right,DarkSlateBlue,DarkViolet);
    /* background: rgb(76, 94, 137); */
    border-radius: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: fit-content;
}
#divTitleContainer{
    margin: 60px;
}
#hSubtitle{
    text-align: center;
    font-style: italic;
    font-family: monospace;
}
#hTitle{
    text-align: center;
    font-weight: 700;
    letter-spacing: 10px;
    font-size: 32pt;
    font-family: monospace;
}
#divHeadingContainer{
    justify-self: flex-start;
    margin-left: 5%;
}
#hHeading{
    line-height: 0;
    /* color: rgb(115, 218, 202); */
    letter-spacing: 5px;
    font-weight: 200;
    font-family: monospace;
    font-size: 24pt;
}
nav{
    justify-self: flex-end;
    margin-right: 5%;
    display: flex;
    align-items: center;
}
body {
    background: transparent;
}
.contentContainer{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: nowrap;
    display: flex;
    align-content: center;
    justify-content: center;
}
.infoContainer{
    /* background: linear-gradient(rgba(200,200,200,0.75) 0%,rgba(150,150,150,0.5) 85%,rgba(125,125,125,0) 100%); */
    flex-basis: 65%;
    background: rgba(40, 40, 70,0.5);
    padding: 25px;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 15px;
}
.paraHeader{
    font-size: 32pt;
    line-height: 0.5;
    margin-left: 40px;
}
.descriptor{
    font-size: 16pt;
    margin-left: 20px;
    margin-right: 20px;
}
.navlink{
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    font-size: 24px;
    color: pink;
    margin-left: 20px;
    margin-right: 20px;
}
.image{
    flex-basis: 35%;
    width: 100%;
    height: 100%;
    align-self: center;
    border-radius: 10px;
}


