@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
    --black: #181722;
    --white: #f0f0f0;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --beige: rgb(254, 233, 190);
    --dark-beige: rgb(189, 161, 105);
    --darker-beige: #a7816a;
}

* {
    font-family:'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;


}



html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border-radius: 5rem;
}

.header {
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--beige);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 999;
}

.header .logoContent {
    display: flex;
    align-items: center;
}

.header .logoContent .logo img {
    height: 5rem;
}

.header .logoContent .logoName {

    margin-right: 3rem;
    color: #746051;
    font-family: 'Unbounded',sans-serif;
}
.header .navbar{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;

}

.header .navbar a {
    max-height: 3em;
    font-size: 2rem;
    margin-right: 3rem;
    padding: 0.2em;
    color: #746051;
    font-weight: bold;
    border:  2px solid var(--darker-beige);
    width:5em;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5%;
    align-items: center;
    text-decoration: none;
}

.header .navbar a:hover{
    text-decoration: none;
    background-color: var(--darker-beige);
    color:white;
}

#h {
    font-family: 'Unbounded',sans-serif;
    font-weight: 400;
}

#para{
    color: var(--dark-beige);
    font-weight: 300;
    font-style: italic;
    font-size: 20pt;
}

.login .homecontent {
    margin-left: 0;
    width: 90%;
}

#menu-bar {
    display: none;
}

.login {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(/static/res/BackGround.png);
    background-size: cover;
    background-position: center center;
}

.login .homecontent {
    width: 50%;
    float: left;
    text-align: center;
    padding: 4rem;
}

.login .homecontent h2 {
    font-size: 7rem;
    font-weight: bold;
    margin-bottom: 7rem;
    color: #a7816a;

    text-align: center;
}

.login .homecontent p {
    font-size: 1.8rem;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.login .homecontent .home-btn {
    height: 3rem;
}

.login .homecontent .home-btn button {
    font-size: 1.8rem;
    background-color: dimgray;
    color: var(--black);
    border-radius: .7rem;
    padding: .7rem 2.4 rem;
    cursor: pointer;
}

.login .homecontent .home-btn button:hover {
    font-size: 2rem;
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    color: var(--black);
    border: .1rem solid var(--black);
}



.buyerFormContainer{
    /* background-color: rgba(255,255,255,0.5); */
    backdrop-filter: blur(10px);
    box-shadow: 0 0 0.5em #00000033 ;
    padding: 2% 4%;
    border-radius: 5em;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 16pt;
    line-height: 0px;
    color: var(--darker-beige);
    font-weight: 500;
}
.radioSelector{
    accent-color: var(--darker-beige);
    height: 20px;
    width: 20px;
}

.formRow{
    display: flex;
    margin: 30px auto;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: space-between;
    width: 100%;
}

.formRow label{
    margin-right: 20px;
    justify-self: flex-start;
    width: 30%;
}

.formRow input{
    justify-self: flex-end;
    width: 100%;
    padding: 10px;
    border: 2px solid;
    border-color: var(--darker-beige);
    background: none;
    border-radius: 10px;
}

#btnSubmit{
    padding: 30px;
}

#btnSubmit:hover{
    color: white;
    background-color: var(--darker-beige);
}

#signUp {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border: 5px solid;
    border-color: var(--darker-beige);
    border-left: none;
    border-right: none;
    background: #fff9eb;
}

#divRegisterContentContainer {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
}

.registerButton{
    text-decoration: none;
    padding: 20px;
    width: 50%;
    margin: 2% 10%;
    border: 3px solid;
    border-color: var(--darker-beige);
    background: none;
    font-size: 24pt;
    color: var(--darker-beige);
    font-weight: 300;
    border-radius: 10px;
    text-align: center;
}

.registerButton:hover{
    text-decoration: none;
    background: var(--darker-beige);
    color:white;
}

#pRegisterText{
    margin: 40px 20px;
    font-size: 42pt;
    color: var(--darker-beige);
}

.blogs {
    background: url() no-repeat;
    background-size: cover;
    background-position: center center;
    /* background-color: rgba(80,80,80,1); */
    background-color: #fff9eb;
}

hr{
    width: 95%;
    color: var(--darker-beige);
    height: 20px;
    margin-left: 2.5%;
}

.blogs .blogs-row .box {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: rgba(255,255,255,0.75);
    flex-wrap: wrap;
}


.blogs .blogs-row .box .img img {
    height: auto;
    width: auto;
    margin: auto;
    padding: 5rem;
    border-radius: 50%;
}

.blogs .blogs-row .box .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.blogs .blogs-row .box .content h3 {
    font-size: 3.5rem;
    color: var(--black);
    text-shadow: var(--box-shadow);
}


.blogs .blogs-row .box .content p {
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 1.8;
}

.blogs .blogs-row .box .content a {
    font-size: 2rem;
    cursor: pointer;

}

.blogs .blogs-row .box .content a:hover {
    color: var(--black);
    text-shadow: var(--box-shadow);
}

.footer {
    background: url("/static/res/back.png") no-repeat;
    background-size: cover;
    background-position: center center;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding: 2rem 1rem;
}

.footer .box-container .mainBox .content {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.footer .box-container .mainBox .content h1 {
    font-size: 2rem;
    color: var(--black);
}

.footer .box-container .mainBox p {
    font-size: 1.7rem;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: var(--white);
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.6rem;
    color: var(--white);
    padding: 1rem 0;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: var(--white);
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .share {
    padding: 1rem 0;
    text-align: center;
}

.footer .share a {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    color: var(--white);
    background: var(--black);
    margin: 0 .3rem;
    border-radius: 50%;

}

.footer .share a:hover {
    background: var(--white);
    color: var(--black);
}

.footer .credit {
    font-size: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    color: var(--white);
    text-align: center;

}


.swiper-pagination-bullet {
    background-color: var(--black);
}

.swiper-button-next {
    color: var(--white);
}

.swiper-button-prev {
    color: var(--white);
}




@media(max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.3rem 3rem;
    }

    .login .homecontent {
        margin-left: 0;
        width: 80%;
    }
}

@media(max-width:760px) {
    #menu-bar {
        display: inline-block;

    }

    .header .navbar {
        position: absolute;
        top: 100px;
        right: -100%;
        width: 25rem;
        color: var(--black);
        background-color: #fff9eb;
        height: 00vh;
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        display: block;
        font-size: 2rem;
        color: black;
        margin: 1.5rem;
    }
}

@media (max-width:600px) {
    html {
        font-size: 50%;
    }
}
