.graphBox {
    position: relative;
    width: 50%;
    padding: 20px;
    display: grid;
    grid-template-columns: 0.05fr 1fr 1fr;
    grid-gap: 30px;
    min-height: 10px;
}

.graphBox .box {
    position: relative;
    background: #fff;
    padding: 20px;
    width: 50%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    min-height: 10px;
    width:1280px;
    height:720px;
}

@media (max-width: 991px) {
    .graphBox {
        grid-template-columns: 1fr;
        height: auto;
    }
}
